.container {
    display: flex;
    justify-self: center;
    align-self: center;
    text-align: center;
}

#error-msg {
    border: 2px;
    color: red;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


