<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <form action="/home" method="POST">
        <div>
            <div>
                <label for="food_item">Enter Food Item:</label>
                <input type="text" id="food_item" name="food_item" placeholder="Food Item">
            </div>

            <div>
                <label for="amount">Enter Amount:</label>
                <input type="text" id="amount" name="amount" value="100g">
            </div>

            <input type="submit" value="Add Entry">
        </div>
    </form>

    <h1>Entries for {{ logged_in_username }}</h1>
    <table>
        <tr>
          <th>Time</th>
          <th>Food Item</th>
          <th>Amount</th>
          <th>Calories</th>
          <th>Edit/Delete</th>
          <th>More Information</th>
        </tr>
        {% for instance in user_information %}
            <tr>
                <td>{{ instance["time"] }}</td>
                <td>{{ instance["food_item"] }}</td>
                <td>{{ instance["amount"] }}</td>
                <td>{{ instance["calories"] }}</td>

                <td>
                    <a href="{{ '/edit/%s' %instance.rowid }}">Edit</a>
                    <a href="{{ '/delete/%s' %instance.rowid }}">Delete</a>
                </td>

                <td>
                    <a href="{{ '/more-information/%s' %instance.rowid }}">More</a>
                </td>
            </tr>
        {% endfor %}
      </table>  

      <a href="/todays-intake">Today's Intake</a>
      <a href="/logout">Logout</a>
</body>
</html>