<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/616ed73eb6.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="content">
        <h2>Food Intake Log</h2>
        
        <div class="container">
            <p>Log in as an existing user</p>
            <p id="msg">{{ message }}</p>
    
            <div class="fields">
                <form action="/login" method="POST">
                    <input type="email" name="email" placeholder="Enter your email">
                    <input type="password" name="password" placeholder="Enter your password">
                    <button class="btn" type="submit">Log in</button>
                </form>
            </div>
           
            <p>Don't have an account? <a href="/sign-up"><button class="btn">Sign up here!</button></a></p>
        </div>
    </div>

    <div class="footer-images">
        <img src="/static/images/hamburger.png">
        <img src="/static/images/vegetable.png">
        <img src="/static/images/taco.png">
    </div>
</body>