<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <form action="/" method="POST">
        <div id="input-boxes">
            <div>
                <label for="username">Enter Username:</label>
                <input type="text" id="username" name="username" placeholder="Username">
            </div>

            <div>
                <label for="food_item">Enter Food Item:</label>
                <input type="text" id="food_item" name="food_item" placeholder="Food Item">
            </div>

            <div>
                <label for="amount">Enter Amount:</label>
                <input type="text" id="amount" name="amount" value="100g">
            </div>

            <input type="submit" value="Add Entry">
        </div>
    </form>

    <form action="/search-result" method="POST">
        <label for="search_username">Search Username:</label>
        <input type="test" id="search_username" name="search_username" placeholder="Search Username">
        <input type="submit" value="Search">
    </form>
</body>
</html>